.impact-central-pin {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.impact-central-pin__number {
  font-size: 1.2em;
  font-weight: bold;
}

.impact-central-pin__text {
  font-size: .7em;
}
