@import "../../../config/colors.scss";

.message-list {
  background: white;
  border-right: 1px solid $border;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  z-index: 2;
}
