.message-detail {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 765px) {
  .message-detail-page {
    width: 50%;
  }
}
