// Global
$main-color: #00afbf;
$dark-text: #333;
$light-text: #a9a9a9;
$error-text: #ff6666;
$border: #d6d6d6;
$dark-shadow: #333;

// Header
$mobile-header-bg: #f2f2f2;

// Navbar
$navbar-default-bg: #1e2121;
$navbar-hover-bg: #272b2b;
$navbar-active-bg: #00afbf;
$navbar-icon-default: #d8d8d8;
$navbar-icon-active: #ffffff;

// Messages
$message-active-bg: #f5f9fa;
$message-active-border: #00afbf;

// Message detail
$total-clicks-bar: #00afbf;
$unique-clicks-bar: #008c99;
$payed-clicks-bar: #006973;
$svg-light-circles: #979797;

// Home
$gradient-start: #0cdaec;
$gradient-end: #b1f54d;
