@import "../../../config/colors.scss";

.header {
  align-items: center;
  background-color: $mobile-header-bg;
  box-shadow: 1px 1px 2px 0px $border;
  box-sizing: border-box;
  display: flex;
  height: 3em;
  min-height: 3em;
  justify-content: center;
  max-width: 100vw;
  padding: .75em;
  position: relative;
  width: 100%;
}

.header__title {
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 5% 0 3em;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}

.header__icon {
  cursor: pointer;
  left: 1em;
  position: absolute;
  top: .5em;
}

@media screen and (min-width: 765px) {
  .header {
    display: none;
  }
}
