.main-content {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
  transition: 200ms transform ease-in-out;
  width: 100%;
  will-change: transform;
}

.main-content.has-mobile-menu {
  transform: translateX(100px);
}

@media screen and (min-width: 765px) {
  .main-content.has-mobile-menu {
    transform: translateX(0);
  }
}
